.Logo-small {
  // style pour le logo de taille "small"
  height: 24.4px;
  width: 105px;
}

.Logo-medium {
  // style pour le logo de taille "medium"
  height: 48px;
  width: 210px;
}

.Logo-large {
  // style pour le logo de taille "large"
  height: 72.13px;
  width: 316px;
}
