.Header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #444444;
  box-shadow: 0 5px 8px -9px rgba(0,0,0,0.75);
}

.HeaderMenu {
  height: 40px;
  color: white;
}

.HeaderNavigation {
  display: flex;
  flex-direction: row;
  align-self: center;
}