.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
}

.HeaderLogo {
  width: auto;
  height: auto;
}

.HeaderNavigation {
  display: flex;
  flex-direction: row;

}